:root {
	--color-bg0:       #0f0f0f;
	--color-bg1:       #181818;
	--color-darkgray:  #2f2f2f;
	--color-lightgray: #404040;
	/*--color-accent:    #ffbd64;*/
    --color-accent:    #74bfff;
	--color-bright:    #eeeeee;
}

body {
	background-color: var(--color-bg0);
	font-size: 0.9em;
	color: var(--color-bright);
    margin: 0px;
}

body, code, pre {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', 'Segoe UI Mono', 'Liberation Mono', Menlo, Monaco, Consolas, monospace;
}

.container {
    width: 60%;
    margin: auto;
}

div#content {
	background-color: var(--color-bg1);
	clear: both;
	padding: 10px;
	border-radius: 2px;

    margin-top: 1em;
}

main {
    padding-top: 1em;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
    }

    div#content {
        margin-top: 0px;
    }
}

a.title {
    text-decoration: underline;
}

h1 { 
    color: var(--color-accent); 
    text-decoration: none; 
    font-size: 1.5em; 
    border-bottom: 2px solid var(--color-accent); 
}

h2 { 
    font-size: 1.5em; 
    margin-top: 50px; 
}

h2::before { 
    content: '# '; 
}

img { margin: 10px 0px 10px 0px; box-shadow: 5px 5px 5px 0 #111; max-width: 100%; }
img[alt=centerimg]     { margin-left: auto; margin-right: auto; display: block; }
img[alt=floatleftimg]  { float: left;  margin-right: 10px; }
img[alt=floatrightimg] { float: right; margin-left:  10px; }

code { background-color: var(--color-lightgray); }
pre { overflow: auto; }
pre, pre code { background-color: var(--color-bg0); }

table { border-collapse: collapse; margin: auto; }
table th { background-color: var(--color-lightgray); }
table td { background-color: var(--color-darkgray); }
table td, table th {
	border: 1px solid var(--color-lightgray);
	text-align: center;
	padding: 5px;
	min-width: 20px;
}

blockquote p {
	font-style: italic;
	padding: 0.9em;
	background-color: var(--color-bg);
}

/* == POST BANNERS == */
.post-banner {
    margin-bottom: 1em;
    padding-left: 8px;
    border-left: 3px solid var(--color-accent);

    font-size: 0.85em;
    /* color: var(--color-accent); */
}

.post-banner h3.post-title {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-accent);

    margin: 0;
}

.post-banner h3.post-title a, article.post-banner span.post-tags a {
    color: var(--color-accent);
}

/* == HEADER == */
#header-bar {
    display: flex;
    justify-content: space-between;
}

#header-bar-nav {
    margin-left: auto;
}

#header-bar-nav a.social-link {
    margin-right: 1em; 
    text-decoration: none;
}

#header-bar-nav a.social-link svg {
    width: 1.5em;
    height: 1.5em;

    fill: var(--color-bright);
}

#header p a {
    color: var(--color-accent);
}

@media only screen and (max-width: 600px) {

    #linkedin-social-link {
        display: none;
    }

    #header-bar-title {
        font-size: 0.7em;

        letter-spacing: -0.5px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #header-bar-nav nav {
        display: flex;
    }

    #header-bar-nav a.social-link {
        max-width: 1em;
        margin: 0px;
        margin-left: 0.4em; 
    }

    #header-bar-nav a.social-link svg {
        width: 1em;
        height: 1em;
    }
}

/* == FOOTER == */
#footer { 
    text-align: center; 
    display: block; 

    margin-top: 2em;
}
